.sectionsRight {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 30%;
    height: max-content;
    background-color: #fff;
    border: 1px solid var(--logo-color);
    border-radius: 1rem;
    padding: 1rem;
}

@media screen and (max-width: 768px) { 
    .sectionsRight {
        width: 100%;
    }
}