.applicationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.applicationForm > div {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.applicationForm > div input[type="text"] {
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    padding: 0.5rem;   
}

.applicationForm > div select {
    background-color: #fff;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 5px;  
}

.applicationForm button {
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.20);
    color: #fff;
    background-color: var(--logo-color);
    width: 50%;
    font-size: 1.25rem;
    line-height: 1.75rem;
    border-radius: 5px;
    padding: 1rem;
}