.social__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social__text__title {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.social__text__value {
    color: var(--logo-color);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


@media (max-width: 767px) {
    .social__text__title {
      text-align: center;
    }
    .social__text__value {
        text-align: center;
      }
  }

  @media (max-width: 374px) {
    .social__text__title {
      font-size: 0.75rem;
    }
    .social__text__value {
        font-size: 0.75rem;
      }
  }
